<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <form action="login_form.php" method="post">
        <label for="email-input">Email Address:</label>
        <input type="text" id="email-input" name="email-input" placeholder="email address" />
        <label for="password-input">Password:</label>
        <input type="password" id="password-input" name="password-input" placeholder="password" />
      </form>
    </main>
  </body>
</html>
